[submodule "video_panoptic_segmentation/datasets/MVPd"]
	path = video_panoptic_segmentation/datasets/MVPd
	url = https://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@github.com/opipari/MVPd.git
[submodule "video_panoptic_segmentation/models/PanopticMemoryClouds/PanopticMemoryClouds"]
	path = video_panoptic_segmentation/models/PanopticMemoryClouds/PanopticMemoryClouds
	url = https://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@github.com/opipari/PanopticMemoryClouds.git
	branch = model
[submodule "video_panoptic_segmentation/models/segment-anything/segment-anything"]
	path = video_panoptic_segmentation/models/segment-anything/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "video_panoptic_segmentation/models/MobileSAM/MobileSAM"]
	path = video_panoptic_segmentation/models/MobileSAM/MobileSAM
	url = https://github.com/ChaoningZhang/MobileSAM.git
[submodule "video_panoptic_segmentation/models/aot-benchmark/aot-benchmark"]
	path = video_panoptic_segmentation/models/aot-benchmark/aot-benchmark
	url = https://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@github.com/opipari/aot-benchmark.git
	branch = main
[submodule "video_panoptic_segmentation/models/aot-benchmark/paot-benchmark"]
	path = video_panoptic_segmentation/models/aot-benchmark/paot-benchmark
	url = https://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@github.com/opipari/aot-benchmark.git
	branch = paot
[submodule "video_panoptic_segmentation/models/aot-benchmark/geo-paot"]
	path = video_panoptic_segmentation/models/aot-benchmark/geo-paot
	url = https://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@github.com/opipari/aot-benchmark.git
	branch = geo-paot
[submodule "video_panoptic_segmentation/models/Video-K-Net/Video-K-Net"]
	path = video_panoptic_segmentation/models/Video-K-Net/Video-K-Net
	url = https://github.com/lxtGH/Video-K-Net.git
[submodule "video_panoptic_segmentation/models/aot-benchmark/paot-control-against-geo-noise"]
	path = video_panoptic_segmentation/models/aot-benchmark/paot-control-against-geo-noise
	url = https://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@github.com/opipari/aot-benchmark.git
	branch = paot-control-against-geo-noise
