[submodule "zero_shot_scene_segmentation/models/segment-anything/segment-anything"]
	path = zero_shot_scene_segmentation/models/segment-anything/segment-anything
	url = git@github.com:facebookresearch/segment-anything.git
[submodule "zero_shot_scene_segmentation/models/supergb-d/supergb-d"]
	path = zero_shot_scene_segmentation/models/supergb-d/supergb-d
	url = git@github.com:evinpinar/supergb-d.git
[submodule "zero_shot_scene_segmentation/simulators/habitat-sim/habitat-sim"]
	path = zero_shot_scene_segmentation/simulators/habitat-sim/habitat-sim
	url = git@github.com:facebookresearch/habitat-sim.git
[submodule "zero_shot_scene_segmentation/models/AFB-URR/AFB-URR"]
	path = zero_shot_scene_segmentation/models/AFB-URR/AFB-URR
	url = https://github.com/xmlyqing00/AFB-URR
[submodule "zero_shot_scene_segmentation/simulators/habitat-sim/habitat-lab"]
	path = zero_shot_scene_segmentation/simulators/habitat-sim/habitat-lab
	url = git@github.com:facebookresearch/habitat-lab.git
[submodule "zero_shot_scene_segmentation/models/MobileSAM/MobileSAM"]
	path = zero_shot_scene_segmentation/models/MobileSAM/MobileSAM
	url = git@github.com:ChaoningZhang/MobileSAM.git
[submodule "zero_shot_scene_segmentation/models/GAPS/GAPS"]
	path = zero_shot_scene_segmentation/models/GAPS/GAPS
	url = git@github.com:opipari/ZeroShotSceneSegmentation.git
	branch = model
[submodule "zero_shot_scene_segmentation/models/aot-benchmark/aot-benchmark"]
	path = zero_shot_scene_segmentation/models/aot-benchmark/aot-benchmark
	url = git@github.com:opipari/aot-benchmark.git
	branch = main
[submodule "zero_shot_scene_segmentation/models/aot-benchmark/paot-benchmark"]
	path = zero_shot_scene_segmentation/models/aot-benchmark/paot-benchmark
	url = git@github.com:opipari/aot-benchmark.git
	branch = paot
[submodule "zero_shot_scene_segmentation/models/aot-benchmark/geo-paot"]
	path = zero_shot_scene_segmentation/models/aot-benchmark/geo-paot
	url = git@github.com:opipari/aot-benchmark.git
	branch = geo-paot
[submodule "zero_shot_scene_segmentation/models/Video-K-Net/Video-K-Net"]
	path = zero_shot_scene_segmentation/models/Video-K-Net/Video-K-Net
	url = git@github.com:lxtGH/Video-K-Net.git
[submodule "zero_shot_scene_segmentation/models/aot-benchmark/paot-control-against-geo-noise"]
	path = zero_shot_scene_segmentation/models/aot-benchmark/paot-control-against-geo-noise
	url = git@github.com:opipari/aot-benchmark.git
	branch = paot-control-against-geo-noise
