[submodule "simulators/habitat-lab"]
	path = zeroshot_rgbd/simulators/habitat-lab
	url = https://github.com/facebookresearch/habitat-lab.git
[submodule "simulators/habitat-sim"]
	path = zeroshot_rgbd/simulators/habitat-sim
	url = git@github.com:facebookresearch/habitat-sim.git
[submodule "models/segment_anything"]
	path = zeroshot_rgbd/models/segment_anything
	url = git@github.com:facebookresearch/segment-anything.git
[submodule "zeroshot_rgbd/models/panoptic-lifting"]
	path = zeroshot_rgbd/models/panoptic-lifting
	url = git@github.com:nihalsid/panoptic-lifting.git
